<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         
        {% for books in books %}
     <table>
            
         <tr>
             <td> {{ books.title }}</td>
             <td><a href="{{ path("book_update", {"id": books.id}) }}">редактировать</a></td><td><a href="{{ path("book_delete", {"id": books.id}) }}">удалить</a></td>
             
         </tr>
         
     </table>
        {% endfor %}
    </body>
</html>
