<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
         href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all">
    </head>
 <body>
         
  <div class="container">
      <div class="col-xs-12 col-md-8">    
        <br>
          <table class="table table-bordered">
            
              {% for books in books %}
              <tr>
                  <td> 
                      {{ books.title }}
                  </td>
                  <td width="50%">
                      <a href="{{ path("book_update", {"id": books.id}) }}">редактировать</a>
                      <a class="glyphicon glyphicon-trash" href="{{ path("book_delete", {"id": books.id}) }}"></a>
                  </td>           
              </tr>
               {% endfor %}
            
          </table>
      </div>
  </div>     

</body>
</html>
