<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
         href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" media="all">

    </head>
    
<body>
    <div class="container">
        <div class="col-xs-12 col-md-8"> 
            <br>
            <table class="table table-striped">
            {% for authors in authors %}
                <tr>
                     <td> 
                         {{ authors.name }}
                     </td>
                     <td width="50%"> 
                         <a class = "btn btn-default" href="{{ path("books_catalog", {"id": authors.id}) }}">список книг</a>
                         <a class="btn btn-default" href="{{ path("author_update", {"id": authors.id}) }}">редактировать</a>
                     </td>   
                </tr>
            {% endfor %}
            </table> 
        <br>
        <a class="btn btn-success" href="{{ path("author_create") }}">Добавить автора</a>
        </div> 
    </div> 
</body>
</html>
